#window {
    all:unset;
    background: #252425;
    border: 5px solid #1e1e1e;
    border-radius: 26x;
    } 

#input {
margin: 5px;
border: none;
color: #cecace;
background: #1e1e1e;
border-radius: 26px;
}

#inner-box {
margin: 5px;
border: none;
border-radius: 26px;
}

#outer-box {
margin: 5px;
border: none;
background: #262426;
border-radius: 26px;
}

#scroll {
margin: 0px;
border: none;
border-radius: 26px;
}



#entry:selected {
background: linear-gradient(to right, #4e4e4e, #c0c0c0);
color: #242424;
border-radius: 26px;
}